extends ../layout/base 
block content 
	.container.mb-5
		.modal#modalDetailCus.fade
			.modal-dialog.modal-dialog-centered
				#data-customer.modal-content.border-0
		p.text-center.h1.fw-bold LIST PEMBELI
		- if(messages.msg_info)
			.alert.alert-success.alert-dismissible
				button.btn-close(type='button', data-bs-dismiss='alert', aria-hidden='true')
				h4
					i.icon.fa.fa-check
					| Success!
				| !{messages.msg_info}
		- if(messages.msg_error)
			.alert.alert-danger.alert-dismissible
				button.btn-close(type='button', data-bs-dismiss='alert', aria-hidden='true')
				h4
					i.icon.fa.fa-ban
					| Alert!
				| !{messages.msg_error}
		a(href='/customers/tambah').pull-left.btn.btn-primary.my-3
			i.fa.fa-plus 
			|  Tambah Customer
		.data-table
			table.table.table-bordered
				tr
					th
						| No
					th
						| Nama
					th
						| Pilihan Mobil
					th
						| Email
					th
						| Nomor HP
					th
						| Tanggal Pemesanan
					th
						| Aksi
					if messages.msg_error
						| !{messages.msg_error}
					else
						for row, index in data 
							tr
								td #{index+1}
								td #{row.name}
								td #{row.pilihan_beli}
								td #{row.email}
								td #{row.phone}
								td #{row.tanggal_pembelian}
								td
									div(style='display:inline-block')
										a(href='/customers/edit/#{row.id}').btn.btn-sm.btn-primary.ms-2
											i.fa.fa-edit
									div(style='display:inline-block')
										form(method='post', action='/customers/delete/#{row.id}').ms-2
											input(type="hidden",name="_method", value="DELETE")
											button.btn.btn-sm.btn-danger(type='submit')
												i.fa.fa-remove
									div(style='display:inline-block')
										a(data-id="#{row.id}" data-bs-toggle="modal").btn.btn-sm.btn-warning.ms-2.detailscus
											i.fa.fa-align-justify